<!DOCTYPE html>
<html>

<head>
    <title>简单手机助手</title>
    <script src="../static/javascripts/util.js"></script>
    <!-- 包含js要在此之前 -->
    <script>
        // 避免冲突
        window.nodeRequire = require;
        delete window.require;
        delete window.module;
        delete window.exports;
    </script>
    <script type="text/javascript" src="../static/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../static/javascripts/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/stylesheets/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .nav-extended {
            -webkit-app-region: drag;
        }

        a {
            -webkit-app-region: no-drag;
        }

        ul.horizental>li {
            display: block;
            list-style: none;
            float: left;
            margin: 40px;
        }

        p {
            width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
        }

        #file_list {
            height: 450px;
            overflow-y: scroll;
        }

        body {
            overflow-x: hidden;
            overflow-y: hidden
        }
    </style>
</head>

<body>
    <!--导航条-->
    <nav class="nav-extended blue">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">简单手机助手</a>
            <ul id="win-button" class="right">
                <li>
                    <a href="javascript:closeWin();">
                        <i class="material-icons tiny">close</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-content blue">
            <ul id="app-button" class="tabs tabs-transparent">
                <li class="tab" id="tab0">
                    <a href="index.html" target="_self">首页</a>
                </li>
                <li class="tab" id="tab1">
                    <a href="directory.html" target="_self" class="active">我的设备</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 我的设备 -->
    <div id="myDevice">
        <div class="row">
            <div class="col s2">
                <ul>
                    <li class="bold">
                        功能选项
                    </li>
                    <li class="bold">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header active">
                                    手机管理
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="application.html" class="red-text">
                                                应用管理
                                            </a>
                                        </li>
                                        <li>
                                            <a href="directory.html">
                                                文件管理
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col s8">

            </div>
        </div>

    </div>
</body>
<script>
    const {
        ipcRenderer
    } = nodeRequire('electron');
    closeWin = function () {
        ipcRenderer.send('command', 'close');
    }

    $(function () {
        $("select").material_select();
        $('.collapsible').collapsible();

        $("#usb_connect").click(() => {
            ipcRenderer.send('command', 'get_device');
            ipcRenderer.on('devices', (event, devices) => {
                if (devices.length == 0) {
                    alert("没有找到可用的设备");
                    return;
                }

                ipcRenderer.send('connect', devices[0]);

                $("select").material_select('destroy');

                var html =
                    `
                    <option value="{0}">{1}</option>
                `
                var content = '';
                for (i in devices) {
                    device = devices[i];
                    content += html.format(device, device);
                }

                $("select").html(content);
                $("select").material_select();
            })
        })

        $("#device_list").change(() => {
            ipcRenderer.send('connect', $("#device_list").val())
        })
    })
</script>

</html>